black
flake8
isort
numpy
pandas
celluloid
gensim
graphviz
grip
ipywidgets
jupyterlab
jupyter_server
jupyterlab-code-formatter
loguru
line-profiler
matplotlib
plotly
pyarrow
scipy
seaborn
scikit-learn
statsmodels
tqdm
PyYAML
nltk
vaderSentiment
